<a href="https://colab.research.google.com/github/ishaqmarashy/red-light-traffic-violation-classification/blob/main/decision%20tree%20classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import datetime, timedelta
import os
csv_filename1 = "../data/Climate_Data_2012_2022/3546990.csv"
csv_filename2 = "../data/Climate_Data_2012_2022/3546991.csv"


df1 = pd.read_csv(csv_filename1)
df2 = pd.read_csv(csv_filename2)

C:\Users\ishaq\AppData\Local\Temp\ipykernel_9548\3182051162.py:7: DtypeWarning: Columns (42,43,47,50,52,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv_filename1)
C:\Users\ishaq\AppData\Local\Temp\ipykernel_9548\3182051162.py:8: DtypeWarning: Columns (42,43,44,50,52,55,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(csv_filename2)

In [2]:
combined_df = pd.concat([ df2,df1], ignore_index=True)
combined_df

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue045,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,WindEquipmentChangeDate
0,72226513821,2022-01-01T00:56:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,72226513821,2022-01-01T01:56:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72226513821,2022-01-01T02:56:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72226513821,2022-01-01T03:56:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,72226513821,2022-01-01T04:56:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168132,72226513821,2021-12-31T21:26:00,FM-16,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168133,72226513821,2021-12-31T21:56:00,FM-15,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168134,72226513821,2021-12-31T22:26:00,FM-16,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168135,72226513821,2021-12-31T22:56:00,FM-15,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168136,72226513821,2021-12-31T23:56:00,FM-15,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
threshold = 15000
filtered_df = combined_df.dropna(axis=1, thresh=len(combined_df) - threshold)

combined_df.dropna(axis=1, thresh=len(combined_df) - threshold, inplace=True)
combined_df.drop(columns=['STATION','REPORT_TYPE','SOURCE','REPORT_TYPE.1','SOURCE.1',
                          'REM','HourlyStationPressure'],inplace=True)

In [4]:
combined_df['DATE'] = pd.to_datetime(combined_df['DATE'])
combined_df['DATE'] = combined_df['DATE'].dt.round('H')
combined_df

,DATE,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyRelativeHumidity,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed
0,2022-01-01 01:00:00,29.91,67.0,69,95.0,10.00,68.0,170,7
1,2022-01-01 02:00:00,29.90,67.0,69,95.0,10.00,68.0,170,7
2,2022-01-01 03:00:00,29.89,68.0,71,90.0,10.00,69.0,180,9
3,2022-01-01 04:00:00,29.89,67.0,71,89.0,10.00,68.0,180,10
4,2022-01-01 05:00:00,29.90,67.0,69,91.0,10.00,68.0,180,7
...,...,...,...,...,...,...,...,...,...
168132,2021-12-31 21:00:00,29.92,68.0,72,88.0,10.00,NaN,180,6
168133,2021-12-31 22:00:00,29.92,68.0,71,90.0,10.00,NaN,180,6
168134,2021-12-31 22:00:00,29.92,68.0,72,88.0,10.00,NaN,190,7
168135,2021-12-31 23:00:00,29.92,68.0,71,90.0,10.00,NaN,180,6
168136,2022-01-01 00:00:00,29.92,67.0,69,93.0,10.00,NaN,170,5

In [5]:
na_counts = combined_df.isna().sum()
for column, count in na_counts.items():
    print(f"{column}: {count}")

DATE: 0
HourlyAltimeterSetting: 3833
HourlyDewPointTemperature: 4056
HourlyDryBulbTemperature: 3120
HourlyRelativeHumidity: 4059
HourlyVisibility: 2975
HourlyWetBulbTemperature: 10408
HourlyWindDirection: 3080
HourlyWindSpeed: 3082

In [6]:
df=combined_df
df

,DATE,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyRelativeHumidity,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed
0,2022-01-01 01:00:00,29.91,67.0,69,95.0,10.00,68.0,170,7
1,2022-01-01 02:00:00,29.90,67.0,69,95.0,10.00,68.0,170,7
2,2022-01-01 03:00:00,29.89,68.0,71,90.0,10.00,69.0,180,9
3,2022-01-01 04:00:00,29.89,67.0,71,89.0,10.00,68.0,180,10
4,2022-01-01 05:00:00,29.90,67.0,69,91.0,10.00,68.0,180,7
...,...,...,...,...,...,...,...,...,...
168132,2021-12-31 21:00:00,29.92,68.0,72,88.0,10.00,NaN,180,6
168133,2021-12-31 22:00:00,29.92,68.0,71,90.0,10.00,NaN,180,6
168134,2021-12-31 22:00:00,29.92,68.0,72,88.0,10.00,NaN,190,7
168135,2021-12-31 23:00:00,29.92,68.0,71,90.0,10.00,NaN,180,6
168136,2022-01-01 00:00:00,29.92,67.0,69,93.0,10.00,NaN,170,5

In [ ]:
start_date = datetime(2012, 1, 1)
end_date = datetime(2023, 9, 30) 
expected_dates = pd.date_range(start=start_date, end=end_date, freq='H')
reference_df = pd.DataFrame({'date_hour': expected_dates})

df = pd.merge(reference_df, df, on='date_hour', how='outer')

df = df.set_index('date_hour').ffill().bfill().reset_index()

df

In [7]:
na_counts = df.isna().sum()
for column, count in na_counts.items():
    print(f"{column}: {count}")

DATE: 0
HourlyAltimeterSetting: 3833
HourlyDewPointTemperature: 4056
HourlyDryBulbTemperature: 3120
HourlyRelativeHumidity: 4059
HourlyVisibility: 2975
HourlyWetBulbTemperature: 10408
HourlyWindDirection: 3080
HourlyWindSpeed: 3082

In [8]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['DATE'] = df['DATE'].dt.round('H')

numeric_columns = ["HourlyAltimeterSetting", "HourlyDewPointTemperature", "HourlyWindSpeed",
                   "HourlyRelativeHumidity", "HourlyVisibility", "HourlyWetBulbTemperature"]
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

df = df.set_index('DATE').ffill().bfill().reset_index()
result = df.groupby(['DATE']).agg({**{col: 'mean' for col in numeric_columns}}).reset_index()
result

,DATE,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyWindSpeed,HourlyRelativeHumidity,HourlyVisibility,HourlyWetBulbTemperature
0,2012-01-01 00:00:00,30.15,43.0,0.0,93.0,10.0,38.0
1,2012-01-01 01:00:00,30.15,43.0,0.0,94.0,10.0,44.0
2,2012-01-01 02:00:00,30.15,45.0,0.0,94.0,10.0,46.0
3,2012-01-01 03:00:00,30.15,47.0,0.0,93.0,10.0,48.0
4,2012-01-01 04:00:00,30.15,49.0,0.0,94.0,9.0,49.0
...,...,...,...,...,...,...,...
102843,2023-12-14 23:00:00,30.48,27.0,6.0,42.0,10.0,40.0
102844,2023-12-15 00:00:00,30.47,27.0,5.0,44.0,10.0,39.0
102845,2023-12-15 01:00:00,30.47,28.0,6.0,49.0,10.0,39.0
102846,2023-12-15 02:00:00,30.47,27.0,8.0,47.0,10.0,38.0
102847,2023-12-15 03:00:00,30.46,27.0,9.0,48.0,10.0,38.0

In [9]:
result.isna().sum()

DATE                         0
HourlyAltimeterSetting       0
HourlyDewPointTemperature    0
HourlyWindSpeed              0
HourlyRelativeHumidity       0
HourlyVisibility             0
HourlyWetBulbTemperature     0
dtype: int64

In [11]:
csv_filename = '../data/Climate_Data_2012_2022/3546991_3546990_cleaned.csv'
result.to_csv(csv_filename, index=False)