<a href="https://colab.research.google.com/github/ishaqmarashy/red-light-traffic-violation-classification/blob/main/decision%20tree%20classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
from datetime import datetime, timedelta
import os
csv_filename1 = "../data/Climate_Data/noaa/3547240.csv"


df1 = pd.read_csv(csv_filename1)

In [14]:
combined_df = df1
combined_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WT01,WT01_ATTRIBUTES,WT02,WT02_ATTRIBUTES,WT08,WT08_ATTRIBUTES
0,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2012-01-01,2.4,",,W",2355.0,",,W",...,7.6,",,W",13.0,",,W",1.0,",,W",NaN,NaN,NaN,NaN
1,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2012-01-02,4.5,",,W",1202.0,",,W",...,10.3,",,W",14.8,",,W",NaN,NaN,NaN,NaN,NaN,NaN
2,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2012-01-03,4.7,",,W",1130.0,",,W",...,10.3,",,W",16.1,",,W",NaN,NaN,NaN,NaN,NaN,NaN
3,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2012-01-04,2.7,",,W",125.0,",,W",...,6.3,",,W",9.4,",,W",NaN,NaN,NaN,NaN,NaN,NaN
4,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2012-01-05,2.2,",,W",1253.0,",,W",...,7.6,",,W",10.7,",,W",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4321,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2023-12-09,0.5,",,W",1244.0,",,W",...,2.7,",,W",3.1,",,W",NaN,NaN,NaN,NaN,NaN,NaN
4322,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2023-12-10,2.2,",,W",2328.0,",,W",...,8.1,",,W",12.1,",,W",NaN,NaN,NaN,NaN,NaN,NaN
4323,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2023-12-11,4.5,",,W",1048.0,",,W",...,9.4,",,W",16.1,",,W",NaN,NaN,NaN,NaN,NaN,NaN
4324,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2023-12-12,2.3,",,W",1059.0,",,W",...,5.8,",,W",9.4,",,W",NaN,NaN,NaN,NaN,NaN,NaN
4325,USW00054786,"DOYLESTOWN AIRPORT, PA US",40.33015,-75.12284,120.5,2023-12-13,2.9,",,W",1629.0,",,W",...,6.7,",,W",9.8,",,W",NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
combined_df.isna().sum()

STATION               0
NAME                  0
LATITUDE              0
LONGITUDE             0
ELEVATION             0
DATE                  0
AWND                 14
AWND_ATTRIBUTES      14
PGTM                  3
PGTM_ATTRIBUTES       3
PRCP                 42
PRCP_ATTRIBUTES      42
TAVG               4326
TAVG_ATTRIBUTES    4326
TMAX                 13
TMAX_ATTRIBUTES      13
TMIN                 13
TMIN_ATTRIBUTES      13
WDF2                  3
WDF2_ATTRIBUTES       3
WDF5                  3
WDF5_ATTRIBUTES       3
WSF2                  3
WSF2_ATTRIBUTES       3
WSF5                  3
WSF5_ATTRIBUTES       3
WT01               4042
WT01_ATTRIBUTES    4042
WT02               4293
WT02_ATTRIBUTES    4293
WT08               4312
WT08_ATTRIBUTES    4312
dtype: int64

In [16]:
threshold = 50
filtered_df = combined_df.dropna(axis=1, thresh=len(combined_df) - threshold)

combined_df.dropna(axis=1, thresh=len(combined_df) - threshold, inplace=True)
combined_df.drop(columns=['STATION','NAME','ELEVATION','AWND_ATTRIBUTES','TMAX_ATTRIBUTES','TMIN_ATTRIBUTES','WSF2_ATTRIBUTES','PGTM_ATTRIBUTES','PRCP_ATTRIBUTES','WDF2_ATTRIBUTES','WDF5_ATTRIBUTES','WSF5_ATTRIBUTES'],inplace=True)

In [17]:
combined_df['DATE'] = pd.to_datetime(combined_df['DATE'])
combined_df['DATE'] = combined_df['DATE'].dt.round('H')
combined_df

,LATITUDE,LONGITUDE,DATE,AWND,PGTM,PRCP,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5
0,40.33015,-75.12284,2012-01-01,2.4,2355.0,1.3,11.1,0.0,290.0,270.0,7.6,13.0
1,40.33015,-75.12284,2012-01-02,4.5,1202.0,0.0,7.2,-2.1,290.0,290.0,10.3,14.8
2,40.33015,-75.12284,2012-01-03,4.7,1130.0,0.0,-1.6,-10.5,320.0,310.0,10.3,16.1
3,40.33015,-75.12284,2012-01-04,2.7,125.0,0.0,-3.8,-12.7,320.0,310.0,6.3,9.4
4,40.33015,-75.12284,2012-01-05,2.2,1253.0,0.0,3.3,-4.3,290.0,320.0,7.6,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...
4321,40.33015,-75.12284,2023-12-09,0.5,1244.0,0.0,12.2,1.7,300.0,280.0,2.7,3.1
4322,40.33015,-75.12284,2023-12-10,2.2,2328.0,57.2,16.7,7.2,360.0,10.0,8.1,12.1
4323,40.33015,-75.12284,2023-12-11,4.5,1048.0,1.8,7.8,1.1,290.0,290.0,9.4,16.1
4324,40.33015,-75.12284,2023-12-12,2.3,1059.0,0.0,7.2,-2.1,240.0,280.0,5.8,9.4
4325,40.33015,-75.12284,2023-12-13,2.9,1629.0,0.0,8.3,-0.5,290.0,310.0,6.7,9.8

In [18]:
na_counts = combined_df.isna().sum()
for column, count in na_counts.items():
    print(f"{column}: {count}")

LATITUDE: 0
LONGITUDE: 0
DATE: 0
AWND: 14
PGTM: 3
PRCP: 42
TMAX: 13
TMIN: 13
WDF2: 3
WDF5: 3
WSF2: 3
WSF5: 3

In [19]:
df=combined_df

In [20]:
start_date = datetime(2012, 1, 1)
end_date = datetime(2023, 9, 30) 
expected_dates = pd.date_range(start=start_date, end=end_date, freq='H')
reference_df = pd.DataFrame({'DATE': expected_dates})

df = pd.merge(reference_df, df, on='DATE', how='outer')

df = df.set_index('DATE').ffill().bfill().reset_index()

df

,DATE,LATITUDE,LONGITUDE,AWND,PGTM,PRCP,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5
0,2012-01-01 00:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,0.0,290.0,270.0,7.6,13.0
1,2012-01-01 01:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,0.0,290.0,270.0,7.6,13.0
2,2012-01-01 02:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,0.0,290.0,270.0,7.6,13.0
3,2012-01-01 03:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,0.0,290.0,270.0,7.6,13.0
4,2012-01-01 04:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,0.0,290.0,270.0,7.6,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103030,2023-12-09 00:00:00,40.33015,-75.12284,0.5,1244.0,0.0,12.2,1.7,300.0,280.0,2.7,3.1
103031,2023-12-10 00:00:00,40.33015,-75.12284,2.2,2328.0,57.2,16.7,7.2,360.0,10.0,8.1,12.1
103032,2023-12-11 00:00:00,40.33015,-75.12284,4.5,1048.0,1.8,7.8,1.1,290.0,290.0,9.4,16.1
103033,2023-12-12 00:00:00,40.33015,-75.12284,2.3,1059.0,0.0,7.2,-2.1,240.0,280.0,5.8,9.4
103034,2023-12-13 00:00:00,40.33015,-75.12284,2.9,1629.0,0.0,8.3,-0.5,290.0,310.0,6.7,9.8

In [21]:
na_counts = df.isna().sum()
for column, count in na_counts.items():
    print(f"{column}: {count}")

DATE: 0
LATITUDE: 0
LONGITUDE: 0
AWND: 0
PGTM: 0
PRCP: 0
TMAX: 0
TMIN: 0
WDF2: 0
WDF5: 0
WSF2: 0
WSF5: 0

In [22]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['DATE'] = df['DATE'].dt.round('H')

numeric_columns = ["LATITUDE", "LONGITUDE", "AWND",
                   "PGTM", "PRCP", "TMAX",
                   "WSF2", "WSF5",
                   "TMIN", "WDF2", "WDF5"]
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

df = df.set_index('DATE').ffill().bfill().reset_index()
result = df.groupby(['DATE']).agg({**{col: 'mean' for col in numeric_columns}}).reset_index()
result

,DATE,LATITUDE,LONGITUDE,AWND,PGTM,PRCP,TMAX,WSF2,WSF5,TMIN,WDF2,WDF5
0,2012-01-01 00:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,7.6,13.0,0.0,290.0,270.0
1,2012-01-01 01:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,7.6,13.0,0.0,290.0,270.0
2,2012-01-01 02:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,7.6,13.0,0.0,290.0,270.0
3,2012-01-01 03:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,7.6,13.0,0.0,290.0,270.0
4,2012-01-01 04:00:00,40.33015,-75.12284,2.4,2355.0,1.3,11.1,7.6,13.0,0.0,290.0,270.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103030,2023-12-09 00:00:00,40.33015,-75.12284,0.5,1244.0,0.0,12.2,2.7,3.1,1.7,300.0,280.0
103031,2023-12-10 00:00:00,40.33015,-75.12284,2.2,2328.0,57.2,16.7,8.1,12.1,7.2,360.0,10.0
103032,2023-12-11 00:00:00,40.33015,-75.12284,4.5,1048.0,1.8,7.8,9.4,16.1,1.1,290.0,290.0
103033,2023-12-12 00:00:00,40.33015,-75.12284,2.3,1059.0,0.0,7.2,5.8,9.4,-2.1,240.0,280.0
103034,2023-12-13 00:00:00,40.33015,-75.12284,2.9,1629.0,0.0,8.3,6.7,9.8,-0.5,290.0,310.0

In [23]:
result.isna().sum()

DATE         0
LATITUDE     0
LONGITUDE    0
AWND         0
PGTM         0
PRCP         0
TMAX         0
WSF2         0
WSF5         0
TMIN         0
WDF2         0
WDF5         0
dtype: int64

In [24]:
csv_filename = '../data/Climate_Data/noaa/3547240_cleaned.csv'
result.to_csv(csv_filename, index=False)